galleries:
 # gallery number one
 1:
   # row one in gallery one
   -
	 - { https://c1.staticflickr.com/5/4649/25598184617_e13bbaf974_b.jpg: 'Lucie & Sen', alt: 'Fair Day Sign'}
	 - { https://c1.staticflickr.com/5/4605/40425620562_20f7776aba_b.jpg: 'Lucie & Baby Queers', alt: 'Lucie & Baby Queers'}
	
   # row two in gallery one
   -
	 - { https://c1.staticflickr.com/5/4610/38658797020_b7db7db411_b.jpg: 'Signs', alt: 'Fair Day Directions'}
	 - { https://c1.staticflickr.com/5/4623/40425619622_b55a696646_b.jpg: 'Lucie & Sen', alt: 'Lucie Bee & Siren Vandoll'}
	 
   # row three in gallery one
   -
	 - { https://c1.staticflickr.com/5/4666/40469247391_39f9e77a9d_b.jpg: 'Dale', alt: 'Dale The Puppy in a Pool'}
     - { https://c1.staticflickr.com/5/4622/25598185477_dc8f9422c1_b.jpg: 'Puppy Mask', alt: 'Mannequin in Puppy Play Gear'}
     - { https://c1.staticflickr.com/5/4756/38658795720_ae7aa0e7cb_b.jpg: 'Puppy Jock', alt: 'Mannequin in Puppy Play Gear'}

